@import '../../Style/Variables.scss';

.error-container{
    align-items: center;
    text-align: center;
    margin: 300px;
    padding: 50px;
    border: none;
    border-radius: 15px ;
    background-color: var(--accentColor);

    & h1{
        color: red;
    }

    & p{
        font-size: 18px;
    }
}
